
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Console';
  background-color: rgb(216, 243, 244);
}

input[type="text"], select {
  border-radius: 10px;
  border-color: rgb(5, 0, 54);
  font-size: 14px;
  padding: 2px;
}

input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  width: 150px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none; 
  width: 15px; 
  height: 15px; 
  background-color:rgb(5, 0, 54); 
  border-radius: 50%; 
  cursor: pointer; 
}