* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background-color: rgb(221, 210, 210);
    padding-top: 70; 
}
#page_title {
    background-color: rgb(155, 131, 131);
    width: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 18%;
    padding: 20px 0px;
}
#page_title h1 {
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 10px 60px; 
}
#sub_title {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    background-color: rgb(199, 180, 180);
    width: 100%;
    position: fixed;
    top: 18%;
    left: 0;
    height: 7%;
    padding-right: 10px; 
}
#cart, #logIn_logOut{
    background-color: rgb(63, 24, 40);
    border: none;
    color: rgb(255, 255, 255);
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 14px;
    margin: 6px 10px; 
    cursor: pointer;
}
#search_bar {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    background-color: rgb(199, 180, 180);
    width: 100%;
    position: fixed;
    top: 24%;
    left: 0;
    height: 7%;
    padding: 0px 10px; 
}
input[type="text"] {
    background-color: rgb(240, 240, 240);
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 2px;
    border-color: rgb(63, 24, 40);
    padding: 5px 20px;
    font-size: 14px;
    cursor: pointer;
    width: 200px; 
    margin-left: 4px;
}

label {
    font-size: 14px;
    margin-right: 4px;
}

#search_button {
    padding: 5px 10px;
    height: 29px;
    border-radius: 2px;
    border-color: rgb(63, 24, 40);
    font-size: 14px;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 2px;
}

.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 150px;
    height: 7px; 
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    margin-right: 30px; 
    margin-left: 4px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none; 
    width: 15px; 
    height: 15px; 
    background-color:rgb(63, 24, 40); 
    border-radius: 50%; 
    cursor: pointer; 
}
select {
    background-color: rgb(240, 240, 240);
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 2px;
    border-color: rgb(63, 24, 40);
    padding: 5px 20px;
    font-size: 14px;
    cursor: pointer;
    width: auto; 
}

select option {
    background-color: rgb(240, 240, 240); 
    color: rgb(63, 24, 40); 
    padding: 5px; 
}

#content, #new_item {
    background-color: rgb(221, 210, 210);
    width: 100%;
    position: fixed;
    top: 31%;
    left: 0;
    height: 100%;
}

#books{
    display: flex; 
    margin: 0 auto;
    background-color: rgb(221, 210, 210);
    width: 90%;
    border-collapse: collapse; 
    position: fixed;
    top: 40%;
    left: 5%;
}

#books th, #books td {
    text-align: left; 
}

#books th {
    font-weight: bold; 
    border-bottom: 1px solid rgb(63, 24, 40); 
}

#books td {
    width: 150px; 
    padding: 10px 0px;
}

#add_new {
    position: fixed; 
    top: 38%; 
    left: 80%; 
    padding: 10px 20px;
    background-color: rgb(63, 24, 40);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#new_item input[type="text"] {
    margin-left: 40px;
    margin-right: -35px;
    width: 250px;

}

#cover {
    margin-left: 0; 
    margin-right: 30px; 
}

#choose_cover {
    margin-left: 40px; /* Remove the extra space */
}